body {
    color: #5D5D5D;
    font-family: "ËÎÌו";
    font-size: 12px;
}
body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div, dl, dt, dd {
    border: 0 none;
    margin: 0;
    padding: 0;
}
ul, ol {
    list-style-type: none;
}
input, img {
    vertical-align: middle;
}
p {
    line-height: 20px;
}
a {
    text-decoration: none;
}
a:link {
    color: #5D5D5D;
}
a:visited {
    color: #5D5D5D;
}
a:hover, a:active, a:focus {
    color: #CC0000;
}
.toubu_top {
    clear: both;
    height: auto;
    overflow: auto;
}
.balnk {
    clear: both;
    font-size: 0;
    line-height: 0;
}
.clear {
    clear: both;
    margin-top: 10px;
}
.margin_div {
    clear: both;
    margin-top: 10px;
}
.page {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0 auto;
    overflow: visible;
    width: 950px;
}
.dq_wz {
    padding-bottom: 15px;
    padding-top: 10px;
}
.search_left_select {
    background-color: #FFFFFF;
    border: 1px solid #6694E3;
    height: 23px;
    margin-top: 1px;
    position: relative;
    width: 110px;
}
.search_left_select select {
    border: 0 none;
    font-size: 14px;
    width: 104px;
}
* + html .search_left_select select {
    margin: -1px;
}
.search_left_select span {
    border: 0 none;
    display: block;
    height: 20px;
    left: 3px;
    overflow: hidden;
    position: absolute;
    top: 2px;
    width: 102px;
}
.top {
    padding-bottom: 0px;
    position: relative;
}
.logo {
    float: left;
    text-align: center;
    width: 230px;
}
.top_right {
    float: right;
    margin-left: 10px;
    width: 710px;
}
.about {
    background: url("http://www.xuanhao.com/images/default/about_bg.gif") no-repeat scroll 0 4px transparent;
    float: right;
    margin-bottom: 9px;
    margin-top: 30px;
    padding: 12px;
    width: 316px;
}
.about li {
    float: left;
    overflow: hidden;
    width: 63px;
}
.dl_top {
    background: url("http://www.xuanhao.com/images/default/new_TOP.gif") no-repeat scroll 0 0 transparent;
    height: 19px;
    padding-bottom: 10px;
}
.dl_top dt {
    float: left;
    padding-left: 15px;
    padding-top: 3px;
    width: 450px;
}
.dl_top dd {
    float: right;
    overflow: hidden;
    padding-top: 9px;
    width: 475px;
}
.dl_top dd li {
    float: right;
    text-align: center;
    width: 65px;
}
.about_new {
    background: url("http://www.xuanhao.com/images/default/about_bg.gif") no-repeat scroll 0 4px transparent;
    float: right;
    margin-bottom: 9px;
    margin-top: 30px;
    padding: 12px;
    width: 316px;
}
.about_new li {
    float: left;
    overflow: hidden;
    text-align: center;
    width: 60px;
}
.phone {
    float: left;
    width: 342px;
}
.input_ul {
    background: url("http://www.xuanhao.com/images/default/input_bg.gif") no-repeat scroll 0 0 transparent;
    left: 490px;
    overflow: hidden;
    padding: 2px 5px 5px 10px;
    position: absolute;
    top: 0;
    width: 447px;
}
.input_ul li {
    float: left;
    overflow: hidden;
}
.input_ul li.wangji {
    padding-top: 5px;
}
.input_style {
    border: 1px solid #B2B2B2;
    height: 16px;
    width: 92px;
}
.input_style1 {
    margin-top: -1px;
}
.nav {
    background: url("http://www.xuanhao.com/images/default/nav.gif") no-repeat scroll 0 0 transparent;
    clear: both;
    height: 40px;
    margin-top: 10px;
    position: relative;
    width: 950px;
}
.user_nav {
    background: url("http://www.xuanhao.com/images/default/nav.gif") no-repeat scroll -3px 0 transparent;
    clear: both;
    height: 43px;
    overflow: hidden;
    width: 940px;
}
.user_bg {
    background: url("http://www.xuanhao.com/images/default/nav1.gif") repeat-x scroll 0 0 transparent;
    clear: both;
    height: 43px;
    margin-top: 10px;
    text-align: center;
}
.nav_ul {
    margin-bottom: 35px;
    padding-top: 15px;
}
.nav_ul li {
    float: left;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    width: 96px;
}
.nav_ul li a:link {
    color: #FFFFFF;
}
.nav_ul li a:visited {
    color: #FFFFFF;
}
.nav_ul li a:hover, a:active, a:focus {
    color: #FFF100;
}
.nav_ul li.one {
    width: 80px;
}
.serch_ul {
    height: 30px;
    left: 99px;
    position: absolute;
    top: 48px;
    width: 830px;
}
.serch_ul li {
    display: inline;
    float: left;
}
.select {
    border: 1px solid #D0D0D0;
    margin-top: 1px;
    padding: 3px;
    width: 110px;
}
.input_text {
    border: 1px solid #6694E3;
    font-size: 14px;
    height: 17px;
    margin-bottom: 1px;
    margin-left: 10px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-top: 4px;
    width: 235px;
}
.serch_ul li.radio {
    margin-left: 8px;
    margin-right: 3px;
    padding-top: 4px;
}
.serch_ul li.text_style {
    padding-top: 7px;
}
.serch_button {
    padding-left: 15px;
    padding-right: 10px;
}
.serch_text {
    padding-left: 5px;
    padding-right: 10px;
}
.jqjs {
    left: 868px;
    position: absolute;
    top: 55px;
}
.jqjs_dl {
    height: 45px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-top: 40px;
    width: 860px;
}
.jqjs_dl dt {
    color: #FF3C00;
    float: left;
    font-size: 14px;
    font-weight: 600;
    margin-top: 14px;
    width: 70px;
}
.jqjs_dl dd {
    float: left;
    width: 400px;
}
.jqjs_dl dd.button1 {
    width: 70px;
}
.jqjs_dl dd.wenzi {
    border-left: 1px solid #D3D3D3;
    line-height: 20px;
    margin-left: 20px;
    margin-top: -10px;
    padding-left: 20px;
    width: 210px;
}
.jqjs_ul {
    height: 18px;
}
.jqjs_ul li {
    float: left;
    text-align: center;
    width: 35px;
}
.jqjs_ul li input {
    border: 1px solid #7F9DB9;
    height: 17px;
    width: 18px;
}
#ifocus {
    height: 235px;
    width: 452px;
}
#ifocus_pic {
    display: inline;
    float: left;
    height: 225px;
    overflow: hidden;
    position: relative;
    width: 362px;
}
#ifocus_piclist {
    position: absolute;
}
#ifocus_piclist li {
    height: 225px;
    overflow: hidden;
    width: 362px;
}
#ifocus_piclist img {
    height: 225px;
    width: 362px;
}
#ifocus_btn {
    display: inline;
    float: right;
    width: 86px;
}
#ifocus_btn li {
    cursor: pointer;
    height: 57px;
    opacity: 0.5;
    text-align: center;
    width: 86px;
}
#ifocus_btn img {
    height: 45px;
    margin: 7px 0 0 6px;
    width: 70px;
}
#ifocus_btn .current {
    background: url("http://www.xuanhao.com/images/default/ifocus_btn_bg.gif") no-repeat scroll 0 0 transparent;
    opacity: 1;
}
#ifocus_opdiv {
    background: none repeat scroll 0 0 #000000;
    bottom: 0;
    height: 30px;
    left: 0;
    opacity: 0.5;
    position: absolute;
    width: 362px;
}
#ifocus_tx {
    bottom: 6px;
    color: #FFFFFF;
    left: 8px;
    position: absolute;
}
#ifocus_tx .normal {
    display: none;
}
.Tab1 {
    width: 454px;
}
.Menubox {
    background: url("http://www.xuanhao.com/images/default/tap_bg1.gif") repeat scroll 0 0 transparent;
    height: 28px;
    line-height: 28px;
    width: 100%;
}
.Menubox ul {
    margin: 0;
    padding: 0;
}
.Menubox li {
    color: #333333;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 14px;
    text-align: center;
    width: 113px;
}
.Menubox li.hover {
    background: url("http://www.xuanhao.com/images/default/tap_bg.gif") repeat scroll 0 0 transparent;
    border-right: 1px solid #DEDEDE;
    border-top: 1px solid #DEDEDE;
    color: #FFFFFF;
    font-weight: bold;
    height: 27px;
    line-height: 27px;
    width: 114px;
}
.Contentbox {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #DEDEDE #DEDEDE;
    border-right: 1px solid #DEDEDE;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    clear: both;
    margin-left: 1px;
}
.Tab2 {
    margin: 0;
    padding: 0;
    width: 246px;
}
.Menubox1 {
    background: url("http://www.xuanhao.com/images/default/bg06.gif") repeat scroll 0 0 transparent;
    height: 25px;
    line-height: 25px;
    padding-left: 10px;
    padding-right: 26px;
    width: 210px;
}
.Menubox1 ul {
    margin: 0;
    padding: 0;
}
.Menubox1 li {
    color: #333333;
    cursor: pointer;
    display: block;
    float: left;
    text-align: center;
    width: 70px;
}
.Menubox1 li.hover {
    background: url("http://www.xuanhao.com/images/default/bg05.gif") repeat scroll 0 0 transparent;
    color: #FF3C00;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    padding: 0;
    width: 70px;
}
.Contentbox1 {
    clear: both;
    margin-left: 1px;
    margin-top: 0;
    padding-top: 8px;
}
.Tab3 {
    margin: 0;
    padding: 0;
    width: 692px;
}
.Menubox2 {
    background: url("http://www.xuanhao.com/images/default/bg09.gif") no-repeat scroll 0 0 transparent;
    height: 26px;
    line-height: 26px;
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 3px;
    position: relative;
    width: 632px;
}
.Menubox2 ul {
    margin: 0;
    padding: 0;
}
.Menubox2 li {
    color: #333333;
    cursor: pointer;
    display: block;
    float: left;
    text-align: center;
    width: 70px;
}
.Menubox2 li.tab3_li {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    width: 220px;
}
.Menubox2 li.tab3_li1 {
    left: 610px;
    position: absolute;
}
.Menubox2 li.hover {
    background: url("http://www.xuanhao.com/images/default/bg08.gif") repeat scroll 0 0 transparent;
    color: #FF3C00;
    font-weight: bold;
    height: 26px;
    line-height: 26px;
    padding: 0;
    width: 70px;
}
.Contentbox2 {
    border-bottom: 1px solid #D3D3D3;
    border-left: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
    clear: both;
    padding-bottom: 5px;
    padding-top: 8px;
}
.Tab4 {
    margin: 0;
    padding: 0;
    width: 720px;
}
.Menubox3 {
    background: url("http://www.xuanhao.com/images/default/tap_bg3.gif") no-repeat scroll 0 bottom transparent;
    height: 35px;
    line-height: 35px;
    padding-left: 38px;
    padding-right: 20px;
    width: 662px;
}
.Menubox3 ul {
    margin: 0;
    padding: 0;
}
.Menubox3 li {
    color: #333333;
    cursor: pointer;
    display: block;
    float: left;
    text-align: center;
    width: 101px;
}
.Menubox3 li.hover {
    background: url("http://www.xuanhao.com/images/default/tap_bg2.gif") repeat scroll 0 0 transparent;
    color: #646464;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    padding: 0;
    width: 101px;
}
.Contentbox3 {
    clear: both;
}
.panlv {
    padding: 20px;
}
.Contentbox3 p {
    font-size: 14px;
    line-height: 28px;
}
.Contentbox3 h3 {
    color: #333333;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 10px;
}
.Tab5 {
    margin: 0;
    padding: 0;
    width: 720px;
}
.Menubox4 {
    background: url("http://www.xuanhao.com/images/default/ymd_1.gif") no-repeat scroll 0 bottom transparent;
    height: 33px;
    line-height: 33px;
    width: 720px;
}
.Menubox4 ul {
    margin: 0;
    padding: 0;
}
.Menubox4 li {
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: left;
    margin-right: 5px;
    text-align: center;
    width: 75px;
}
.Menubox4 li.hover {
    background: url("http://www.xuanhao.com/images/default/ymd.gif") no-repeat scroll 0 0 transparent;
    color: #646464;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    padding: 0;
    width: 75px;
}
.Menubox4 li a {
    color: #FFFFFF;
    text-decoration: none;
}
.Menubox4 li.hover a {
    color: #333333;
}
.Contentbox4 {
    clear: both;
    padding: 20px 0 0;
}
.panlv_a {
    padding-left: 30px;
    padding-right: 30px;
}
.Contentbox4 p {
    font-size: 14px;
    line-height: 28px;
}
.Contentbox4 h3 {
    color: #333333;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 10px;
}
.Tab6 {
    margin: 0;
    padding: 0;
    width: 720px;
}
.Menubox5 {
    background: url("http://www.xuanhao.com/images/default/ymd_1.gif") no-repeat scroll 0 bottom transparent;
    height: 33px;
    line-height: 33px;
    padding-right: 20px;
    width: 720px;
}
.Menubox5 ul {
    margin: 0;
    padding: 0;
}
.Menubox5 li {
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: left;
    margin-right: 5px;
    text-align: center;
    width: 96px;
}
.Menubox5 li a {
    color: #FFFFFF;
    text-decoration: none;
}
.Menubox5 li.hover a {
    color: #333333;
}
.Menubox5 li.hover {
    background: url("http://www.xuanhao.com/images/default/ymd.gif") no-repeat scroll 0 0 transparent;
    color: #646464;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    padding: 0;
    width: 96px;
}
.Contentbox5 {
    clear: both;
    padding: 20px 0 0;
}
.panlv_a {
    padding-left: 30px;
    padding-right: 30px;
}
.Contentbox5 p {
    font-size: 14px;
    line-height: 28px;
}
.Contentbox5 h3 {
    color: #333333;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 10px;
}
.Menubox51 {
    background: url("http://www.xuanhao.com/images/default/ymd_1.gif") no-repeat scroll 0 bottom transparent;
    height: 33px;
    line-height: 33px;
    padding-right: 20px;
    width: 720px;
}
.Menubox51 ul {
    margin: 0;
    padding: 0;
}
.Menubox51 li {
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: left;
    margin-right: 5px;
    text-align: center;
    width: 85px;
}
.Menubox51 li a {
    color: #FFFFFF;
    text-decoration: none;
}
.Menubox51 li.hover a {
    color: #333333;
}
.Menubox51 li.hover {
    background: url("http://www.xuanhao.com/images/default/ymd.gif") no-repeat scroll 0 0 transparent;
    color: #646464;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    padding: 0;
    width: 85px;
}
.left {
    float: left;
    width: 248px;
}
.right {
    float: right;
    overflow: hidden;
    width: 692px;
}
.right_l {
    float: left;
    overflow: hidden;
    width: 454px;
}
.right_r {
    float: right;
    overflow: hidden;
    width: 230px;
}
.pinpai_dt {
    background: url("http://www.xuanhao.com/images/default/nav_1.gif") no-repeat scroll 0 0 transparent;
    font-weight: 600;
    height: 20px;
    padding-left: 30px;
    padding-top: 8px;
    width: 218px;
}
.pinpai_dd {
    border-bottom: 1px solid #D3D3D3;
    border-left: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
    margin-top: -2px;
    padding: 1px 8px 0;
}
.pinpai_dl {
    clear: both;
    padding-top: 8px;
}
.pinpai_dl dt {
    float: left;
    margin-right: 8px;
}
.pinpai_dl dd {
    padding-bottom: 3px;
    padding-top: 3px;
    line-height:17px;
}
.pinpai_dl dd.bottom_style {
    background: none repeat scroll 0 0 transparent;
}
.pinpai_dl dd a {
    padding-left: 7px;
    padding-right: 7px;
}
.guanggao {
}
.guanggao dt {
    background: url("http://www.xuanhao.com/images/default/bg1.gif") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    font-weight: 600;
    height: 16px;
    padding-left: 17px;
    padding-top: 7px;
}
.guanggao dd {
    border-bottom: 1px solid #D3D3D3;
    border-left: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
    margin-top: -1px;
    padding: 6px 8px 7px;
}
.guanggao dd li {
    background: url("http://www.xuanhao.com/images/default/dot.gif") no-repeat scroll 2px 10px transparent;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-top: 5px;
}
.guanggao dd li.b_style {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    padding-left: 0;
}
.taocan_dt {
    background: url("http://www.xuanhao.com/images/default/nav_1.gif") no-repeat scroll 0 0 transparent;
    font-weight: 600;
    height: 20px;
    padding-left: 30px;
    padding-top: 8px;
    width: 218px;
}
.taocan_dd {
    border-bottom: 1px solid #D3D3D3;
    border-left: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
    margin-top: -2px;
    padding-top: 12px;
}
.taocan_dd ul.ttlove li {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    padding-bottom: 8px;
    padding-left: 20px;
}
.taocan_dd ul.ttlove li span {
    color: #999999;
    font-size: 12px;
    padding-left: 10px;
}
.zifei_dl {
    background: url("http://www.xuanhao.com/images/default/bg.gif") repeat-x scroll 0 bottom transparent;
    height: 87px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    padding-bottom: 7px;
    padding-top: 3px;
}
.zifei_dl dt {
    float: left;
    height: 60px;
    overflow: hidden;
    padding-right: 5px;
    padding-top: 20px;
    width: 80px;
}
.zifei_dl dd {
    float: left;
    height: 15px;
    overflow: hidden;
    padding-top: 6px;
    width: 120px;
}
.center_ul {
    color: #BABABA;
    font-family: Arial;
    font-size: 12px;
}
.center_ul li {
    background: url("http://www.xuanhao.com/images/default/bg.gif") repeat-x scroll 0 bottom transparent;
    height: 36px;
    line-height: 36px;
    padding-left: 1px;
}
.center_ul li.b_style1 {
    background: none repeat scroll 0 0 transparent;
}
.center_ul li a {
    font-family: Arial;
    font-size: 14px;
    font-weight: 600;
    padding-left: 12px;
    padding-right: 12px;
}
.center_ul li a.jc {
    padding-left: 18px;
    padding-right: 17px;
}
.center_ul li a:link {
    color: #084776;
}
.center_ul li a:visited {
    color: #084776;
}
.center_ul li a:hover, a:active, a:focus {
    color: #CC0000;
}
.tongdao {
    margin-top: -9px;
}
.tongdao_dt {
    background: url("http://www.xuanhao.com/images/default/nav_2.gif") no-repeat scroll 0 0 transparent;
    font-weight: 600;
    height: 20px;
    margin-top: 10px;
    padding-left: 30px;
    padding-top: 8px;
    width: 200px;
}
.tongdao_dd {
    border-bottom: 1px solid #D3D3D3;
    border-left: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
    margin-top: -2px;
    overflow: hidden;
    padding-top: 12px;
    width: 228px;
}
.tongdao_dd ul {
    font-size: 14px;
    font-weight: 600;
    height: 96px;
}
.tongdao_dd ul li {
    background: url("http://www.xuanhao.com/images/default/button.gif") no-repeat scroll 0 0 transparent;
    display: inline;
    float: left;
    height: 21px;
    margin-bottom: 14px;
    margin-left: 15px;
    margin-top: 5px;
    padding-top: 8px;
    text-align: center;
    width: 92px;
}
.tongdao_dd1 {
    border-bottom: 1px solid #D3D3D3;
    border-left: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
    margin-top: -1px;
    padding: 16px 8px 12px;
}
.tongdao_dd1 li {
    padding-bottom: 5px;
    padding-top: 7px;
}
.tongdao_dd1 li.ttya {
    margin-top: -2px;
    padding-left: 50px;
}
.jiansuo_dl {
}
.jiansuo_dl dt {
    color: #FF3C00;
    font-weight: 600;
    margin-left: -5px;
    margin-right: -15px;
    padding-bottom: 4px;
    padding-left: 20px;
    padding-top: 10px;
}
.jiansuo_dl dt.back_dt {
    background: url("http://www.xuanhao.com/images/default/blue.gif") no-repeat scroll -10px 10px transparent;
}
.jiansuo_dl dt.back_d1t {
    background: url("http://www.xuanhao.com/images/default/qing.gif") no-repeat scroll -10px 10px transparent;
}
.jiansuo_dl dt.back_dt2 {
    background: url("http://www.xuanhao.com/images/default/gree.gif") no-repeat scroll -10px 10px transparent;
}
.jiansuo_dl dt.back_dt3 {
    background: url("http://www.xuanhao.com/images/default/red.gif") no-repeat scroll -10px 10px transparent;
}
.jiansuo_dl dd {
    height: 25px;
    line-height: 25px;
}
.jiansuo_dl dd a {
    padding-left: 7px;
    padding-right: 8px;
}
.jiansuo_dl1 {
}
.jiansuo_dl1 dt {
    color: #FF3C00;
    font-weight: 600;
    margin-left: -5px;
    margin-right: -15px;
    padding-bottom: 4px;
    padding-left: 20px;
    padding-top: 10px;
}
.jiansuo_dl1 dt.back_dt {
    background: url("http://www.xuanhao.com/images/default/blue.gif") no-repeat scroll -10px 10px transparent;
}
.jiansuo_dl1 dt.back_d1t {
    background: url("http://www.xuanhao.com/images/default/qing.gif") no-repeat scroll -10px 10px transparent;
}
.jiansuo_dl1 dt.back_dt2 {
    background: url("http://www.xuanhao.com/images/default/gree.gif") no-repeat scroll -10px 10px transparent;
}
.jiansuo_dl1 dt.back_dt3 {
    background: url("http://www.xuanhao.com/images/default/red.gif") no-repeat scroll -10px 10px transparent;
}
.jiansuo_dl1 dd a {
    padding-left: 7px;
    padding-right: 8px;
}
.kefu_ul {
}
.kefu_ul li {
    padding-left: 10px;
}
.kefu_ul li.li_color {
    background: url("http://www.xuanhao.com/images/default/biao.gif") no-repeat scroll 0 8px transparent;
    color: #084776;
}
.kefu_ul li.li_color1 {
    color: #FF3C00;
}
.pinpai_dt1 {
    background: url("http://www.xuanhao.com/images/default/nav_1.gif") no-repeat scroll 0 0 transparent;
    font-weight: 600;
    height: 20px;
    padding-left: 30px;
    padding-top: 8px;
    position: relative;
    width: 218px;
}
.pinpai_dt1 span.red_position {
    left: 92px;
    position: absolute;
}
.pinpai_dt1 span.com_position {
    font-weight: 400;
    left: 185px;
    position: absolute;
    width: 43px;
}
.pinpai_dd1 {
    border-bottom: 1px solid #D3D3D3;
    border-left: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
    margin-top: -2px;
    padding: 1px 8px 6px;
}
.pinpai_dd1 li {
    background: url("http://www.xuanhao.com/images/default/jt.gif") no-repeat scroll 10px 8px transparent;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    padding-left: 23px;
    width: 205px;
}
.move_bg {
    background: url("http://www.xuanhao.com/images/default/bg10.gif") no-repeat scroll 1px 0 transparent;
    border-bottom: 1px solid #D3D3D3;
    height: 60px;
    margin-top: -7px;
    padding-left: 40px;
    padding-top: 12px;
}
.move_bg dl {
    float: left;
    overflow: hidden;
    padding-right: 10px;
    width: 205px;
}
.move_bg dl dt a.move_a {
    color: #FF3C00;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
}
.move_bg dl dd {
    padding-top: 8px;
}
.move_bg dl dd span {
    color: #FF3C00;
    font-weight: 600;
}
.move_ul {
    clear: both;
    height: auto;
    overflow: auto;
    padding-left: 8px;
    padding-top: 3px;
    position: relative;
}
.move_ul li {
    float: left;
    font-family: Arial;
    font-size: 14px;
    font-weight: bolder;
    height: 26px;
    line-height: 26px;
    overflow: hidden;
    width: 170px;
}
.move_ul a {
    font-size: 14px;
    font-weight: 600;
}
.move_ul a:link {
    color: #084776;
}
.move_ul a:visited {
    color: #084776;
}
.move_ul a:hover, a:active, a:focus {
    color: #FF3C00;
}
.move_ul li span {
    background: url("http://www.xuanhao.com/images/default/rmb.gif") no-repeat scroll 10px 2px transparent;
    color: #FF3C00;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: 600;
    padding-left: 22px;
    text-align: left;
}
.move_bg_dj {
    float: left;
    overflow: hidden;
    padding-right: 10px;
    width: 205px;
}
.move_bg_dj dt a.move_a {
    color: #FF3C00;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
}
.move_bg_dj dd {
    padding-top: 8px;
}
.move_bg_dj dd span {
    color: #FF3C00;
    font-weight: 600;
}
.move_ul_1 {
    clear: both;
    height: auto;
    overflow: auto;
    padding-left: 8px;
    padding-top: 3px;
    position: relative;
}
.move_ul_1 li {
    float: left;
    font-family: Arial;
    font-size: 14px;
    font-weight: 600;
    height: 26px;
    line-height: 26px;
    overflow: hidden;
    text-align: center;
    width: 135px;
}
.move_ul_1 a:link {
    color: #084776;
}
.move_ul_1 a:visited {
    color: #084776;
}
.move_ul_1 a:hover, a:active, a:focus {
    color: #FF3C00;
}
.move_ul_1 li span {
    padding-left: 10px;
}
.jingpin_dt {
    background: url("http://www.xuanhao.com/images/default/bg09.gif") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    height: 26px;
    line-height: 26px;
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 3px;
    position: relative;
    width: 632px;
}
.jingpin_dt span {
    color: #646464;
    font-size: 12px;
    font-weight: 400;
}
.jingpin_dt span.posi_1 {
    left: 260px;
    position: absolute;
    top: 2px;
}
.jingpin_dt span.posi_2 {
    left: 627px;
    position: absolute;
    top: 3px;
    width: 44px;
}
.jingpin_dd {
    border-bottom: 1px solid #D3D3D3;
    border-left: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
    margin-top: -2px;
    width: 690px;
}
.jingpin_dl {
    background: url("http://www.xuanhao.com/images/default/bg.gif") repeat-x scroll 0 bottom transparent;
    clear: both;
    font-family: Arial;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}
.jingpin_dl dt {
    background: url("http://www.xuanhao.com/images/default/bg.gif") repeat-x scroll 0 bottom transparent;
    float: left;
    overflow: hidden;
    padding-bottom: 34px;
    padding-top: 25px;
    width: 118px;
}
.jingpin_dl dd {
    background: url("http://www.xuanhao.com/images/default/bg.gif") repeat-x scroll 0 bottom transparent;
    float: left;
    overflow: hidden;
    padding-bottom: 6px;
    padding-top: 8px;
    width: 143px;
}
.jingpin_dl dd ul {
    background: url("http://www.xuanhao.com/images/default/bg11.gif") repeat-y scroll 0 6px transparent;
}
.jingpin_dl dd li {
    height: 26px;
    letter-spacing: 1px;
    line-height: 26px;
}
.jingpin_dl dd li a:link {
    color: #1B4F93;
    font-size: 16px;
    font-weight: bolder;
}
.jingpin_dl dd li a:link span {
    color: #00A06B;
    font-size: 16px;
    font-weight: bolder;
}
.jingpin_dl dd li a:visited span {
    font-size: 16px;
    font-weight: bolder;
}
.jingpin_dl dd li a:link strong {
    color: #FF6600;
    font-size: 16px;
    font-weight: bolder;
}
.jingpin_dl dd li a:visited strong {
    color: #008639;
    font-size: 16px;
    font-weight: bolder;
}
.jingpin_dl dd li a:visited {
    color: #084776;
}
.jingpin_dl dd li a:hover, a:active, a:focus {
    text-decoration: underline;
}
.hmys_table {
}
.hmys_table td a {
    font-family: Arial,Helvetica,sans-serif;
    letter-spacing: 1px;
}
.hmys_table td a:link {
    color: #1B4F93;
    font-size: 18px;
    font-weight: bolder;
}
.hmys_table td a:link span {
    color: #00A06B;
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: 1px;
}
.hmys_table td a:visited span {
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: 1px;
}
.hmys_table td a:link strong {
    color: #FF6600;
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: 1px;
}
.hmys_table td a:visited strong {
    color: #008639;
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: 1px;
}
.hmys_table td a:visited {
    color: #084776;
}
.hmys_table td a:hover, a:active, a:focus {
    text-decoration: underline;
}
.jwt {
    border: 1px solid #D3D3D3;
    display: inline;
    float: left;
    height: 95px;
    margin-left: 10px;
    margin-top: 10px;
    overflow: hidden;
    padding: 5px;
    text-align: center;
    width: 147px;
}
.jwt dt {
    color: #084776;
    float: left;
    font-size: 12px;
    font-weight: 600;
    height: 55px;
    overflow: hidden;
    text-align: left;
    width: 70px;
}
.jwt dt img {
    height: 50px;
    width: 65px;
}
.jwt dt p {
    color: #646464;
    font-size: 12px;
    font-weight: 400;
    margin-top: -1px;
}
.jwt dd {
    line-height: 21px;
    text-align: left;
}
.padding_div {
    height: 235px;
    padding-bottom: 10px;
    padding-top: 4px;
}
.padding_div1 {
    padding-bottom: 10px;
}
.chanpin {
    background: url("http://www.xuanhao.com/images/default/shude.gif") no-repeat scroll right bottom transparent;
    float: left;
    margin-top: 10px;
    overflow: hidden;
    width: 170px;
}
.chanpin li {
    padding-bottom: 5px;
    text-align: center;
}
.chanpin li strong {
    color: #FF3C00;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    width: 44px;
}
.chanpin li span {
    background: url("http://www.xuanhao.com/images/default/rmb.gif") no-repeat scroll 12px 2px transparent;
    color: #FF3C00;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding-left: 28px;
    text-align: left;
    width: 44px;
}
.zixun_dt {
    background: url("http://www.xuanhao.com/images/default/bg12.gif") no-repeat scroll 0 0 transparent;
    font-weight: 600;
    height: 20px;
    padding-left: 30px;
    padding-top: 8px;
    position: relative;
    width: 920px;
}
.zixun_dd {
    border-bottom: 1px solid #D3D3D3;
    border-left: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
    margin-top: -2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    width: 928px;
}
.zixun_dd dl {
    float: left;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    width: 165px;
}
.zixun_dd dl dt {
    background: url("http://www.xuanhao.com/images/default/bg.gif") repeat-x scroll 0 bottom transparent;
    color: #FF3C00;
    font-weight: 600;
    margin-bottom: 8px;
    padding-bottom: 10px;
    position: relative;
}
.zixun_dd dl dt span {
    font-weight: 400;
    left: 123px;
    position: absolute;
}
.zixun_dd dl dd {
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    padding-left: 5px;
    width: 152px;
}
.zixun_dd dl dd a:link {
    color: #646464;
}
.zixun_dd dl dd a:visited {
    color: #646464;
}
.zixun_dd dl dd a:hover, a:active, a:focus {
    color: #CC0000;
}
.button3 {
    padding-bottom: 6px;
    padding-left: 100px;
    padding-top: 10px;
}
.p_style {
    height: 27px;
    line-height: 27px;
}
.p_style a {
    margin-left: 10px;
    margin-right: 10px;
}
.p_style1 {
    height: 27px;
    line-height: 27px;
    padding-top: 8px;
}
.p_style1 a {
    margin-left: 10px;
    margin-right: 10px;
}
.njs {
    clear: both;
    padding-left: 10px;
    padding-top: 9px;
}
.njs dt {
    color: #FF3C00;
    float: left;
    font-size: 14px;
    font-weight: 600;
}
.njs dd {
    margin-left: 90px;
    padding-top: 2px;
}
.njs dd p {
    padding-top: 3px;
}
.njs dt span {
    background-color: #175491;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 600;
    margin-left: 5px;
    padding: 3px 4px 2px;
}
.njs dd a {
    font-weight: 600;
    margin-left: 2px;
    margin-right: 2px;
}
.njs dd span {
    background-color: #175491;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 600;
    margin-left: 5px;
    padding: 3px 4px 2px;
}
.list_ul {
    background: url("http://www.xuanhao.com/images/default/list_ul.gif") repeat-x scroll 0 0 transparent;
    height: 23px;
    padding: 8px 0 2px 30px;
}
.list_ul li {
    float: left;
    padding-left: 11px;
}
.list_ul li.zi {
    padding-left: 3px;
    padding-top: 5px;
}
.list_ul li.zi1 {
    height: 23px;
    margin-top: -1px;
}
.list_dl {
    height: 32px;
}
.list_dl dt {
    background: url("http://www.xuanhao.com/images/default/list_dt.gif") no-repeat scroll 0 0 transparent;
    float: left;
    font-size: 14px;
    height: 22px;
    overflow: hidden;
    padding-top: 10px;
    text-align: center;
    width: 92px;
}
.list_dl dd {
    background: url("http://www.xuanhao.com/images/default/lisi_dd.gif") no-repeat scroll 0 0 transparent;
    display: inline;
    float: left;
    height: 19px;
    margin-left: 5px;
    margin-top: 5px;
    padding-top: 8px;
    text-align: center;
    width: 92px;
}
.paixu {
    border-bottom: 1px solid #AACCEE;
    border-left: 1px solid #AACCEE;
    border-right: 1px solid #AACCEE;
    height: 20px;
    overflow: hidden;
    padding: 6px 20px;
    width: 678px;
}
.paixu li {
    float: left;
    height: 20px;
}
.paixu li.zi_pai {
    height: 15px;
    padding-top: 5px;
}
.paixu li.zi_pai span {
    font-weight: 600;
    margin-left: 5px;
    padding: 2px;
}
.paixu li.p_li {
    background: url("http://www.xuanhao.com/images/default/shengxu.gif") no-repeat scroll 0 0 transparent;
    height: 15px;
    margin-right: 10px;
    padding-left: 18px;
    padding-top: 5px;
    width: 54px;
}
.paixu li.j_li {
    background: url("http://www.xuanhao.com/images/default/jiangxu.gif") no-repeat scroll 0 0 transparent;
    height: 15px;
    margin-right: 10px;
    padding-left: 18px;
    padding-top: 5px;
    width: 54px;
}
.paixu li.next {
    background: url("http://www.xuanhao.com/images/default/shangyiye.gif") no-repeat scroll 0 0 transparent;
    margin-left: 8px;
    margin-right: 5px;
    padding-left: 17px;
    padding-top: 5px;
    width: 42px;
}
.paixu li.next1 {
    background: url("http://www.xuanhao.com/images/default/next.gif") no-repeat scroll 2px 0 transparent;
    margin-left: 1px;
    padding-top: 5px;
    text-align: center;
    width: 61px;
}
.list_top {
    color: #FF3C00;
    font-size: 14px;
    font-weight: 600;
    height: 35px;
    line-height: 35px;
    padding-left: 10px;
    padding-right: 10px;
}
.list_top li {
    float: left;
    margin-left: 15px;
    text-align: center;
}
.list_number {
    background: url("http://www.xuanhao.com/images/default/bg.gif") repeat-x scroll 0 bottom transparent;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 7px;
    padding-top: 8px;
}
.list_number li {
    float: left;
}
.list_number li {
    height: 26px;
    line-height: 26px;
}
.list_number li a:link {
    color: #084776;
    font-size: 16px;
    font-weight: 600;
}
.list_number li a:link span {
    color: #FF3C00;
    font-size: 16px;
    font-weight: 600;
}
.list_number li a:visited span {
    color: #FF3C00;
    font-size: 16px;
    font-weight: 600;
}
.list_number li a:link strong {
    color: #009C42;
    font-size: 16px;
    font-weight: 600;
}
.list_number li a:visited strong {
    color: #009C42;
    font-size: 16px;
    font-weight: 600;
}
.list_number li a:visited {
    color: #084776;
    font-size: 16px;
    font-weight: 600;
}
.list_number li.number1 {
    overflow: hidden;
    width: 120px;
}
.list_number li.number2 {
    overflow: hidden;
    width: 70px;
}
.list_number li.number3 {
    overflow: hidden;
    text-decoration: line-through;
    width: 50px;
}
.list_number li.number_style {
    color: #FF3C00;
    font-size: 16px;
    font-weight: 600;
}
.list_number li.number4 {
    text-align: center;
    width: 84px;
}
.list_number li.number5 {
    text-align: center;
}
.font-color {
    color: #FF3C00;
}
.table_style {
    float: left;
    overflow: hidden;
    width: 343px;
}
.table_style img {
    border: 1px solid #B6B6B6;
    height: 278px;
    width: 313px;
}
.table_style td.hei {
    color: #FF3C00;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.table_style td {
    padding-left: 10px;
    padding-right: 5px;
}
.table_style td span {
    color: #0F62A9;
}
.table_style td strong {
    color: #FF3C00;
}
.y_div {
    float: right;
    overflow: hidden;
    width: 366px;
}
.youbian {
    background: url("http://www.xuanhao.com/images/default/kefu_bg.jpg") no-repeat scroll 0 0 transparent;
    height: 27px;
    padding-bottom: 6px;
    padding-left: 16px;
    padding-top: 82px;
    width: 350px;
}
.youbian li {
    float: left;
    overflow: hidden;
    text-align: center;
    width: 75px;
}
.bug {
    background: url("http://www.xuanhao.com/images/default/bug.gif") no-repeat scroll 0 0 transparent;
    clear: both;
    height: 142px;
    margin-top: 20px;
}
.mordy {
    margin-left: 25px;
}
.mordy li {
    margin-top: 10px;
}
.mordy li span {
    color: #FF3C00;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-right: 45px;
}
.zd_o {
    color: #FF3C00;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.zd_n {
    color: #FF3C00;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.shanc {
    font-weight: 400;
    text-decoration: line-through;
}
.mordy li.dian {
    background: url("http://www.xuanhao.com/images/default/dian.gif") no-repeat scroll 0 0 transparent;
    height: 14px;
    line-height: 14px;
    margin-top: 16px;
    padding-left: 20px;
}
.mordy li.qq1 {
    background: url("http://www.xuanhao.com/images/default/qq1.gif") no-repeat scroll 0 0 transparent;
    height: 15px;
    line-height: 15px;
    margin-top: 5px;
    padding-left: 20px;
}
.jingpin_dt_one {
    background: url("http://www.xuanhao.com/images/default/tap_bg5.gif") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    height: 26px;
    line-height: 26px;
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 3px;
    width: 632px;
}
.cp_px {
    background: url("http://www.xuanhao.com/images/default/bg13.gif") repeat-x scroll 0 0 transparent;
    border: 1px solid #D3D3D3;
    height: 32px;
    padding-left: 15px;
    padding-right: 10px;
    width: 665px;
}
.cp_px li {
    float: left;
}
.cp_px ul.jiage {
    float: left;
    padding-top: 5px;
}
.cp_px ul.jiage li.cp_px1 {
    background: url("http://www.xuanhao.com/images/default/shengxu.gif") no-repeat scroll 0 0 transparent;
    height: 15px;
    margin-right: 10px;
    padding-left: 18px;
    padding-top: 5px;
    width: 54px;
}
.cp_px ul.jiage li.cp_px2 {
    background: url("http://www.xuanhao.com/images/default/jiangxu.gif") no-repeat scroll 0 0 transparent;
    height: 15px;
    margin-right: 10px;
    padding-left: 18px;
    padding-top: 5px;
    width: 54px;
}
.cp_px ul.jiage li.cp_px3 {
    padding-top: 5px;
}
.cp_px ul.ym {
    float: right;
    padding-top: 5px;
}
.cp_px ul.ym li.next2 {
    background: url("http://www.xuanhao.com/images/default/shangyiye.gif") no-repeat scroll 0 0 transparent;
    height: 16px;
    margin-left: 8px;
    margin-right: 5px;
    padding-left: 17px;
    padding-top: 4px;
    width: 42px;
}
.cp_px ul.ym li.next3 {
    background: url("http://www.xuanhao.com/images/default/next.gif") no-repeat scroll 2px 0 transparent;
    height: 16px;
    margin-left: 8px;
    padding-top: 4px;
    text-align: center;
    width: 61px;
}
.cp_px ul.ym li.next4 {
    padding-top: 5px;
}
.liebiao {
    border-bottom: 1px solid #D3D3D3;
    border-left: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
    padding: 2px 15px 15px;
    width: 660px;
}
.beiju {
    background: url("http://www.xuanhao.com/images/default/bg.gif") repeat-x scroll 0 bottom transparent;
    padding-bottom: 13px;
    padding-top: 12px;
    width: 660px;
}
.beiju li.xiju2 {
    border: 1px solid #D8D8D8;
    float: left;
    height: 126px;
    overflow: hidden;
    width: 128px;
}
.beiju li.xiju2 img {
    height: 126px;
    width: 128px;
}
.beiju li.xiju {
    float: left;
    overflow: hidden;
    padding-left: 10px;
    width: 370px;
}
.beiju li.xiju1 {
    float: left;
    overflow: hidden;
    padding-left: 20px;
    width: 130px;
}
.beiju li.xiju dl.zhuozi {
    height: 130px;
    overflow: hidden;
}
.beiju li.xiju dl.zhuozi dt {
    color: #FF3C00;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}
.beiju li.xiju dl.zhuozi dt a:link {
    color: #FF3C00;
}
.beiju li.xiju dl.zhuozi dt a:visited {
    color: #FF3C00;
}
.beiju li.xiju dl.zhuozi dt a:hover, a:active, a:focus {
    color: #CC0000;
}
.beiju li.xiju dl.zhuozi dd.aka {
    color: #333333;
    height: 12px;
    overflow: hidden;
    padding-bottom: 10px;
    padding-top: 10px;
}
.beiju li.xiju dl.zhuozi dd.bka {
    line-height: 20px;
}
.yizi {
}
.yizi dt {
    color: #FF3C00;
    font-size: 14px;
    font-weight: 600;
    margin-top: 5px;
    padding-bottom: 10px;
}
.yizi dt span {
    background: url("http://www.xuanhao.com/images/default/rmb.gif") no-repeat scroll 0 1px transparent;
    padding-left: 15px;
}
.yizi dd {
    text-decoration: line-through;
}
.yizi dd.beizi {
    padding-top: 40px;
}
.rmcp {
    border-bottom: 1px solid #D3D3D3;
    margin-left: 24px;
    margin-right: 24px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}
.rmcp dt p {
    line-height: 15px;
    margin-top: 5px;
}
.rmcp dd {
    margin-top: 6px;
}
.rmcp dd span {
    background: url("http://www.xuanhao.com/images/default/rmb.gif") no-repeat scroll 0 1px transparent;
    color: #FF3C00;
    font-size: 14px;
    font-weight: 600;
    padding-left: 15px;
}
.rmtc {
    padding-left: 10px;
    padding-top: 10px;
}
.rmtc li {
    background: url("http://www.xuanhao.com/images/default/jt.gif") no-repeat scroll 0 8px transparent;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    padding-left: 13px;
    width: 200px;
}
.p_style {
    margin-top: 7px;
}
.p_style span {
    padding-right: 10px;
    text-align: right;
    width: 55px;
}
.block {
    height: auto;
    margin: 0 auto;
    width: 950px;
}
#ur_here {
    background: url("http://www.xuanhao.com/images/biao10.gif") no-repeat scroll 5px center transparent;
    height: 24px;
    line-height: 24px;
    padding: 0 16px;
}
#ur_here a {
    color: #000000;
    text-decoration: none;
}
.flowbox {
    border-color: #E3E3E3;
    border-right: 1px solid #E3E3E3;
    border-style: solid;
    border-width: 2px 1px 1px;
    padding-bottom: 5px;
}
.flowbox table {
    margin: 5px auto;
}
.flowbox td {
    color: #333333;
    padding: 5px 8px 4px;
}
.flowbox th {
    color: #333333;
    padding: 5px 8px 4px;
}
.blank {
    clear: both;
    height: 8px;
    line-height: 8px;
    visibility: hidden;
}
H6 {
    background: none repeat scroll 0 0 #F6F6F6;
    border-color: #FFFFFF;
    border-right: 1px solid #FFFFFF;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    font-size: 12px;
    height: 23px;
    line-height: 23px;
    padding-right: 10px;
    text-align: right;
}
H6 SPAN {
    float: left;
    padding-left: 15px;
}
.f4_b {
    color: #F7941C;
    font-weight: bold;
}
.mt {
    background: url("http://www.xuanhao.com/images/default/jiansuo.gif") no-repeat scroll 0 0 transparent;
    height: 109px;
    padding-top: 60px;
    position: relative;
    width: 490px;
}
.mt_dl {
    color: #8C8C8C;
    font-size: 14px;
    margin-top: 12px;
    padding-left: 25px;
    padding-right: 20px;
    width: 445px;
}
.mt_dl input {
    height: 19px;
    width: 19px;
}
.pos_dd {
    height: 25px;
    left: 405px;
    position: absolute;
    top: 90px;
    width: 60px;
}
.mt_dl dt {
    float: left;
    overflow: hidden;
    text-align: center;
    width: 89px;
}
.mt_dl dd {
    display: inline;
    float: left;
    margin-left: 15px;
    overflow: hidden;
    text-align: center;
    width: 122px;
}
.number_dd_li li {
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding-left: 10px;
    padding-top: 10px;
    text-align: center;
    width: 100px;
}
.taocan_dd ul.ttlove li a {
    color: #0F62A9;
    text-decoration: underline;
}
.jqjs_s {
    background-color: #CBE4F7;
    height: 40px;
    margin-top: 3px;
    padding-bottom: 35px;
    padding-left: 60px;
    padding-top: 7px;
    position: relative;
}
.jqjs_s_dl {
    clear: both;
    color: #8C8C8C;
    font-size: 14px;
    padding-left: 45px;
    padding-right: 20px;
    width: 465px;
}
.jqjs_s_dl input {
    height: 15px;
    width: 15px;
}
.jqjs_spos_dd {
    height: 25px;
    left: 475px;
    position: absolute;
    top: 22px;
    width: 60px;
}
.jqjs_spos_dd1 {
    height: 25px;
    left: 37px;
    position: absolute;
    top: 32px;
    width: 60px;
}
.jqjs_spos_dd2 {
    border-top: 1px solid #FFFFFF;
    color: #646464;
    height: 25px;
    left: 112px;
    padding-top: 8px;
    position: absolute;
    top: 52px;
    width: 425px;
}
.shuzso {
    color: #646464;
    left: 353px;
    position: absolute;
    top: 55px;
}
.szso {
    width: 104px;
}
.jqjs_spos_dd3 {
    color: #FF0000;
    left: 555px;
    position: absolute;
    text-decoration: underline;
    top: 30px;
}
.jqjs_s_dl dt {
    float: left;
    overflow: hidden;
    text-align: center;
    width: 89px;
}
.jqjs_s_dl dd {
    display: inline;
    float: left;
    margin-left: 15px;
    overflow: hidden;
    text-align: center;
    width: 122px;
}
.list_table {
}
.list_table td {
    color: #222222;
    font-size: 14px;
    font-weight: 600;
}
.list_ul_m {
    border-bottom: 1px solid #AACCEE;
    border-left: 1px solid #AACCEE;
    border-right: 1px solid #AACCEE;
    padding: 7px 2px 10px;
}
.list_ul_m li.nisb {
    background: none repeat scroll 0 0 transparent;
}
.list_ul_m li {
    background: url("http://www.xuanhao.com/images/default/taidi.gif") no-repeat scroll 4px bottom transparent;
    letter-spacing: 1px;
}
.list_ul_m li td a {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: 600;
}
.list_ul_m li td strong {
    color: #FF3C00;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    letter-spacing: normal;
}
.list_ul_m li td a span.color_b {
    color: #084776;
}
.list_ul_m li td a span.color_r {
    color: #FF3C00;
}
.list_ul_m li td a span.color_g {
    color: #008639;
}
.xg_list {
    border: 1px solid #3794D1;
    color: #222222;
}
.xg_list a {
    padding: 4px 2px 3px 5px;
}
.xg_list a:link {
    color: #0B3E99;
}
.xg_list a:visited {
    background-color: #FF8040;
    color: #FFFFFF;
}
.xg_list a:hover {
    background-color: #FF8040;
    color: #FFFFFF;
}
.xg_list_dt {
}
.xg_list_dt_ul {
    padding-bottom: 9px;
    padding-top: 13px;
}
.xg_list_dtb {
    border-bottom: 1px solid #3794D1;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
}
.xg_list_dt_ul li {
    float: left;
    height: 15px;
    padding-left: 25px;
}
.xg_list_dt_ul li.need_1 {
    height: 15px;
    padding-left: 30px;
}
.xg_list_dt_ul li.need_2 {
    height: 15px;
    padding-left: 13px;
}
.xg_list_dt_ul li span {
    color: #B5B5B5;
}
.xg_list_dd {
    padding-left: 3px;
    padding-right: 3px;
}
.xg_list_dd_dl {
    border-bottom: 1px solid #E5E5E5;
    clear: both;
    height: 28px;
    line-height: 28px;
    padding-left: 15px;
}
.xg_list_dd_dl_dt {
    float: left;
    padding-right: 12px;
    text-align: right;
    width: 60px;
}
.xg_list_dd_dl_dd {
    float: left;
}
.xg_list_dd_dl_dd_dl {
}
.xg_list_dd_dl_dd_dl dt {
    color: #FFFFFF;
    float: left;
    width: 34px;
}
.xg_list_dd_dl_dd_dl dt span {
    padding: 3px 4px 1px;
}
.xg_list_dd_dl_dd_dl dt span {
    background-color: #FF3C00;
    height: 12px;
}
.xg_list_dd_dl_dd_dl dd {
    float: left;
    padding-left: 10px;
}
.xg_list_dd_dl_dd_dl dd.niuju1 {
    float: left;
    padding-left: 10px;
}
.xg_list_dd_dl_dd_dl dd.niuju1 a {
    margin-right: 10px;
}
.xg_list_dd_dl_dd_dl dd.niuju2 {
    float: left;
    padding-left: 10px;
}
.xg_list_dd_dl_dd_dl dd.niuju2 a {
    margin-right: 10px;
}
.xg_list_dd_dl_dd_dl2 {
    position: relative;
}
.xg_list_dd_dl_dd_dl2 dt {
    color: #FFFFFF;
    float: left;
    width: 34px;
}
.xg_list_dd_dl_dd_dl2 dt span {
    padding: 3px 4px 1px;
}
.xg_list_dd_dl_dd_dl2 dt span {
    background-color: #FF3C00;
    height: 12px;
}
.xg_list_dd_dl_dd_dl2 dd.niuju3 {
    float: left;
    padding-left: 10px;
}
.xg_list_dd_dl_dd_dl2 dd.niuju3 a {
    margin-right: 12px;
}
.xg_list_dd_dl_dd_dl2 dd.niuju3 span {
    padding-right: 12px;
}
.niuju4 a {
    margin-right: 10px;
}
.wzdh {
    background: url("http://www.xuanhao.com/images/default/wzdh.gif") no-repeat scroll 0 0 transparent;
    height: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-top: 10px;
}
.d_style {
    height: 108px;
}
.zb_dl {
    float: left;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    padding-left: 10px;
    width: 210px;
}
.zb_dl dt {
    background: url("http://www.xuanhao.com/images/default/bg.gif") repeat-x scroll 0 bottom transparent;
    float: left;
}
.zb_dl dd {
    float: left;
    padding-left: 10px;
}
.zb_dl dt a.move_a2 {
    color: #FD660D;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: bold;
}
.move_ul5 {
    border-right: 1px solid #EEEEEE;
    float: left;
    padding-left: 23px;
    width: 125px;
}
.move_ul5 li {
    font-family: Arial;
    font-size: 14px;
    font-weight: 600;
    height: 26px;
    line-height: 26px;
    overflow: hidden;
}
.move_ul5 a:link {
    color: #084776;
}
.move_ul5 a:visited {
    color: #084776;
}
.move_ul5 a:hover, a:active, a:focus {
    color: #FD660D;
}
.yqlj_dl {
    background-color: #FDFDF9;
    border: 1px solid #E3E3E3;
    padding-bottom: 9px;
    padding-top: 10px;
}
.yqlj_dl dt {
    float: left;
    text-align: center;
    width: 110px;
}
.yqlj_dl dd {
    border-right: 1px solid #E3E3E3;
    float: left;
    overflow: hidden;
    text-align: center;
    width: 109px;
}
.ydhm_dt {
    background: url("http://www.xuanhao.com/images/new_images/ydhm_bg.gif") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    height: 26px;
    line-height: 26px;
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 3px;
    position: relative;
    width: 660px;
}
.ydhm_dt span {
    color: #646464;
    font-size: 12px;
    font-weight: 400;
}
.ydhm_dt span.posi_1 {
    left: 260px;
    position: absolute;
    top: 2px;
}
.ydhm_dt span.posi_2 {
    left: 627px;
    position: absolute;
    top: 3px;
    width: 44px;
}
.ydhm_dd {
    border-bottom: 1px solid #D3D3D3;
    border-left: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
    margin-top: -2px;
    width: 718px;
}
.gwc_cg {
    border: 1px solid #E3E3E3;
    color: #666666;
    padding: 19px 24px;
}
.gwc_cg_dt {
    padding-bottom: 20px;
}
.danlan {
    background-color: #E2F2FF;
    height: 21px;
    padding-left: 2px;
    padding-top: 9px;
}
.lcttu {
    padding-left: 10px;
    padding-right: 11px;
    padding-top: 16px;
}
.danlan li {
    border-bottom: 1px solid #DFDFDF;
    float: left;
    margin-right: 2px;
    padding-bottom: 7px;
    text-align: center;
}
.cd_1 {
    width: 220px;
}
.cd_5 {
    width: 247px;
}
.cd_2 {
    width: 98px;
}
.cd_3 {
    width: 110px;
}
.cd_4 {
    width: 120px;
}
.cd_4 a {
    color: #FF0000;
}
.danhui {
    background-color: #F6F6F6;
    height: 80px;
    margin-top: 1px;
    padding-left: 2px;
}
.danhui li {
    border-bottom: 1px solid #DFDFDF;
    border-right: 2px solid #FFFFFF;
    float: left;
    height: 47px;
    padding-top: 32px;
    text-align: center;
}
.danhui li p {
    padding-top: 8px;
}
.danhui li strong {
    color: #FF0000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: normal;
}
.danhui li span {
    color: #008DFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
}
.chs {
    color: #FF0000;
}
.cstb {
    text-decoration: line-through;
}
.paddt {
    background-color: #E2F2FF;
    border-bottom: 1px solid #DFDFDF;
    padding-bottom: 8px;
    padding-left: 70px;
    padding-top: 10px;
}
.paddd {
    background-color: #F6F6F6;
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 70px;
    padding-top: 16px;
}
.paddd_ul li {
    padding-bottom: 13px;
    padding-left: 5px;
}
.an_div {
    background-color: #E2F2FF;
    border-bottom: 1px solid #DFDFDF;
    border-top: 1px solid #DFDFDF;
    padding: 5px 20px;
    text-align: right;
}
.an_div1 {
    background-color: #B7DEFF;
    border-bottom: 1px solid #DFDFDF;
    padding: 8px 25px;
    position: relative;
    text-align: left;
}
.an_div2 {
    background-color: #E2F2FF;
    border-bottom: 1px solid #DFDFDF;
    border-top: 1px solid #DFDFDF;
    color: #333333;
    font-size: 14px;
    padding: 12px 25px;
    text-align: left;
}
.tjhm_bz {
    left: 568px;
    position: absolute;
    top: 3px;
}
.an_divone {
    background-color: #E2F2FF;
    border-bottom: 1px solid #DFDFDF;
    margin-bottom: 10px;
    padding: 8px 25px;
    text-align: left;
}
.an_divone span {
    color: #FF0000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    padding-left: 4px;
    padding-right: 4px;
}
.posi_an {
    left: 540px;
    padding: 1px;
    position: absolute;
    top: 3px;
}
.an_div1 span {
    color: #FF0000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    padding-left: 4px;
    padding-right: 4px;
}
.kuaisuzhifu {
    padding: 20px;
    text-align: center;
}
.new_map {
    background-color: #F4F4F4;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 10px 10px 2px;
}
.new_map dt {
    color: #FF6600;
    font-weight: 600;
    padding-bottom: 10px;
}
.new_map dd {
    padding-bottom: 8px;
}
.map_ul {
    background-color: #F4F4F4;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px 10px 2px;
}
.map_ul li {
    padding-bottom: 8px;
}
.map_ul li p {
    color: #FF0000;
    font-weight: 600;
    line-height: 24px;
}
.delete {
    background-color: #FFFDE8;
    height: 30px;
    margin-bottom: 3px;
    padding-left: 15px;
}
.delete dt {
    float: left;
    overflow: hidden;
    padding-top: 8px;
    width: 95px;
}
.delete dd {
    color: #0B3E99;
    float: left;
    margin-right: 10px;
    padding-right: 25px;
    padding-top: 8px;
    position: relative;
}
.delete dd span {
    padding-left: 5px;
    padding-top: 2px;
    position: absolute;
    top: 3px;
}
.manu10 {
    background-color: #FFFFFF;
    border-bottom: 1px solid #AACCEE;
    border-left: 1px solid #AACCEE;
    border-right: 1px solid #AACCEE;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}
.manu10 A {
    background-color: #FFFFFF;
    border-color: #6CB7F1;
    border-right: 1px solid #6CB7F1;
    border-style: solid;
    border-width: 1px;
    color: #036CB4;
    margin: 2px;
    padding: 2px 5px;
    text-decoration: none;
}
.manu10 A:hover {
    border-color: #999999;
    border-right: 1px solid #999999;
    border-style: solid;
    border-width: 1px;
    color: #666666;
}
.manu10 A:active {
    border-color: #999999;
    border-right: 1px solid #999999;
    border-style: solid;
    border-width: 1px;
    color: #666666;
}
.manu10 .current {
    background-color: #036CB4;
    border-color: #036CB4;
    border-right: 1px solid #036CB4;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    font-weight: bold;
    margin: 2px;
    padding: 2px 5px;
}
.manu10 .disabled {
    background-color: #FFFFFF;
    border-color: #6CB7F1;
    border-right: 1px solid #6CB7F1;
    border-style: solid;
    border-width: 1px;
    color: #DDDDDD;
    margin: 2px;
    padding: 2px 5px;
}
.xiaobz1 {
    background: url("http://www.xuanhao.com/images/new_images/xiaobz.gif") no-repeat scroll 9px 0 transparent;
    color: #066DB4;
    height: 10px;
    padding-bottom: 9px;
    padding-left: 44px;
    padding-top: 1px;
    position: relative;
}
.xiaobz1_gundong {
    height: 25px;
    left: 430px;
    position: absolute;
    top: 1px;
    width: 450px;
}
.xiaobz1 a {
    color: #066DB4;
    font-size: 12px;
}
.tb_tab {
    background: url("http://www.xuanhao.com/images/new_images/tb_tab.gif") no-repeat scroll 0 0 transparent;
    height: 36px;
    width: 720px;
}
.tb_tab dt {
    color: #FFFFFF;
    float: left;
    font-size: 14px;
    font-weight: 600;
    margin-left: 6px;
    overflow: hidden;
    padding-top: 10px;
    text-align: center;
    width: 96px;
}
.tb_tab dd {
    float: left;
    font-size: 14px;
    margin-right: 6px;
    overflow: hidden;
    padding-top: 12px;
    text-align: center;
    width: 92px;
}
.tb_tab dd.jyxx_2 {
    text-align: right;
    width: 300px;
}
.tb_tab dd.jyxx_2 a {
    color: #FD660D;
    font-weight: 600;
}
.luinx {
    border-bottom: 1px solid #AACCEE;
    border-left: 1px solid #AACCEE;
    border-right: 1px solid #AACCEE;
    padding: 1px;
}
.list_biaoti {
    background-color: #EEF7FF;
    height: 14px;
    padding-bottom: 9px;
    padding-top: 10px;
}
.list_biaoti dt {
    color: #333333;
    float: left;
    font-size: 14px;
    text-align: center;
    width: 200px;
}
.list_biaoti dd {
    color: #333333;
    float: right;
    font-size: 14px;
    text-align: center;
    width: 210px;
}
.list_bt {
    background: url("http://www.xuanhao.com/images/new_images/thbg.gif") repeat-x scroll 0 bottom transparent;
    font-size: 14px;
    height: 14px;
    padding-bottom: 9px;
    padding-top: 11px;
}
.list_bt dt {
    background: url("http://www.xuanhao.com/images/new_images/ygxdd.gif") no-repeat scroll 10px 5px transparent;
    float: left;
    padding-left: 22px;
    width: 510px;
}
.list_bt dt a {
    color: #1D6DC8;
}
.list_bt dd {
    color: #787878;
    float: left;
    width: 140px;
}
.list_bt101 {
    background: url("http://www.xuanhao.com/images/new_images/thbg.gif") repeat-x scroll 0 bottom transparent;
    font-size: 14px;
    height: 14px;
    padding-bottom: 9px;
    padding-top: 11px;
}
.list_bt101 dt {
    float: left;
    padding-left: 2px;
    width: 530px;
}
.list_bt101 dt span {
    color: #009C42;
    font-size: 14px;
    padding-right: 5px;
}
.list_bt101 dt span.qiugoured {
    color: #E5151F;
    font-size: 14px;
    padding-right: 5px;
}
.list_bt101 dt a {
    color: #1D6DC8;
}
.list_bt dd {
    color: #787878;
    float: left;
    width: 140px;
}
.macrom {
    padding-bottom: 18px;
    padding-left: 18px;
    padding-right: 18px;
}
.qlhma_1 {
    background: url("http://www.xuanhao.com/images/default/qlhm3.jpg") no-repeat scroll 0 0 transparent;
    height: 229px;
    padding-left: 330px;
    padding-top: 100px;
    width: 390px;
}
.qlhma_1 dt {
    margin-bottom: 15px;
    padding-left: 117px;
}
.qlhma_1 dt input.ygsd {
    border-color: #669BC6 #C1C2C6 #C1C2C6 #669BC6;
    border-style: solid;
    border-width: 1px;
    height: 22px;
}
.qlhma_1 dd {
    padding-top: 15px;
}
.qlhma_1 dd a {
    color: #E74DA3;
    margin-left: 14px;
}
